.jumbotron .img-thumbnail {
  margin: 50px 0 25px;
}
.jumbotron .lead {
  font-size: 24px;
  font-weight: bold;
  font-family: poppins;
}
.jumbotron .auto-typed {
  font-size: 18px;
  font-family: roboto;
  font-weight: 300;
}
.jumbotron .links {
  font-family: roboto;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.jumbotron .links a {
  text-decoration: none;
}
.jumbotron .links span {
  font-size: 20px;
}
.jumbotron a p {
  font-weight: bold;
  font-size: 12px;
}
.jumbotron a p span {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
}
.jumbotron a p span:hover {
  color: #f9f9f9;
}
.jumbotron a p span::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  background: #363636;
  transition: 0.2s width linear;
  z-index: -1;
}
.jumbotron a p span:hover::after {
  content: '';
  width: 100%;
}

.projects {
  margin-top: 50px;
}

.projects .row .col {
  display: flex;
  padding: 25px 0px 25px 50px;
}
.projects .row .ganjil {
  background-color: #c4c4c4;
}
.projects .row .genap {
  background-color: white;
}

.projects .col p {
  margin: 0;
  font-family: poppins;
  font-size: 18px;
  font-weight: 500;
}

.projects .col a {
  display: block;
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: 50px;
}

.projects .title {
  position: relative;
  margin-bottom: 15px;
}
.projects .title::after {
  content: '';
  background: black;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 40%;
  height: 5px;
  border-radius: 20px;
}
.projects .title h2{
  font-family: poppins;
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 20px;
}